In [26]:
#Based on my findings and personal preference the best vehicle to buy would be:
#1.**Used 2016 Dodge Journey AWD SE** (Number 300 in the listings)
#2.Used 2016 Dodge Journey AWD SE (Number 244)
#3.Used 2015 Dodge Journey AWD R/T(Number 303)

In [3]:
#Imported relevant libraries
import zipfile
import xml.etree.ElementTree as ET
import pandas as pd

In [4]:
#Converted pdf file to word externally via Adobe
doc = zipfile.ZipFile('Vehicles.docx').read('word/document.xml')
root = ET.fromstring(doc)

In [5]:
ns = {'w': 'http://schemas.openxmlformats.org/wordprocessingml/2006/main'}
body = root.find('w:body', ns)  # find the XML "body" tag
p_sections = body.findall('w:p', ns)  # under the body tag, find all the paragraph sections

In [7]:
for p in p_sections:
    text_elems = p.findall('.//w:t', ns)

In [5]:
def is_heading2_section(p):
    """Returns True if the given paragraph section has been styled as a Heading2"""
    return_val = False
    heading_style_elem = p.find(".//w:pStyle[@w:val='Heading2']", ns)
    if heading_style_elem is not None:
        return_val = True
    return return_val
 
 
def get_section_text(p):
    """Returns the joined text of the text elements under the given paragraph tag"""
    return_val = ''
    text_elems = p.findall('.//w:t', ns)
    if text_elems is not None:
        return_val = ''.join([t.text for t in text_elems])
    return return_val
 
 
section_labels = [get_section_text(s) if is_heading2_section(s) else '' for s in p_sections]

In [10]:
section_text = [{'Car_Description': t, 'Car_price': get_section_text(p_sections[i+1])} for i, t in enumerate(section_labels) if len(t) > 0]

In [11]:
df = pd.DataFrame(section_text)

In [12]:
df.head()

                              Car_Description Car_price
0            Certified 2015 Dodge Journey FWD    11,645
1  Certified 2020 Dodge Journey FWD Crossroad    18,561
2              Used 2018 Dodge Journey AWD GT    18,520
3       Used 2019 Dodge Journey AWD Crossroad    18,995
4              Used 2018 Dodge Journey AWD GT    19,995

In [16]:
##A second column was made due to prices that were not listed and listings that included actual price and MSRP
##Miles listed under Price column were later removed in Excel
df['Price'] = df.Car_price.str.extract('([+-.0-9]+)(.*)').drop(1,axis=1)
df.dropna(inplace= True)

In [17]:
df['Price'] = df['Price'].str.replace(',', '').astype(int)

In [19]:
df.sort_values('Price')

,Car_Description,Car_price,Price
156,Used 2009 Dodge Journey SE,"3,500",3500
87,Used 2010 Dodge Journey SE,"3,900",3900
86,Used 2010 Dodge Journey SE,"3,995",3995
253,Used 2009 Dodge Journey SXT,"4,695",4695
226,Used 2009 Dodge Journey SXT,"4,900",4900
...,...,...,...
195,Used 2017 Dodge Journey FWD SXT,"Contact Dealer For Price 107,526 miles",107526
316,Used 2010 Dodge Journey 2WD SXT w/ Convenience...,"Contact Dealer For Price 141,956 miles",141956
93,Used 2012 Dodge Journey SXT,"Contact Dealer For Price 154,134 miles",154134
314,Used 2012 Dodge Journey FWD,"Contact Dealer For Price 160,042 miles",160042
330,Used 2011 Dodge Journey R/T,"Contact Dealer For Price 183,127 miles",183127

In [23]:
df.to_csv('Vehicles_assignment.csv')

In [ ]:
##Exported Dataframe as a csv file to further filter and sort using Excel.
##In Excel:
    ## -  Duplicates were deleted
    ## -  Price was filtered between to only include vehicles between 8000 and 12000 (Current Vechile would resell for $5,000 resulting in capital expense ~15000)
    ## -  Car Description Included AWD only (For safer driving during winter)

## The vehicle I chose is a great price considering it's low mileage, year and color.